In [1]:
a = 123
type(a)

int

In [2]:
a=123.0
type(a)

float

In [3]:
a = 'Hello!'
type(a)

str

In [4]:
a = ['Hello']
type(a)

list

In [6]:
a = (1, )
b = [1]
type(a)

tuple

In [7]:
type(b)

list

# 자료형 변환
type()
str()
int()
list()

In [8]:
n = 13
print(type(n))

<class 'int'>

In [10]:
n = str(n)
print(type(n))

<class 'str'>

In [11]:
t = (1, 2, 3)
print(type(t))

<class 'tuple'>

In [12]:
t = list(t)
print(type(t))

<class 'list'>

In [13]:
a = [1, 1, 1, 1, 2, 2, 3, 3, 4, 5, 1, 4, 7]
print(a)

[1, 1, 1, 1, 2, 2, 3, 3, 4, 5, 1, 4, 7]

In [15]:
a = set(a) #리스트의 중복 제거
print(a)
#set은 리스트도 중괄호를 사용하여 출력한다,

{1, 2, 3, 4, 5, 7}

In [16]:
lista = [1, 2, 612, 23, 2146, 1236, 122, 512]
print(len(lista))

8

In [17]:
a = 'abc'
print(len(a))

3

In [24]:
a = {'apple': 10}
print(len(a))

1

In [25]:
a = set('hello world!')
print(a)

{'l', '!', ' ', 'o', 'r', 'w', 'h', 'd', 'e'}

In [28]:
b = set('hello python')
print(b)
print(b[1]) #set은 인덱싱 불가

{'l', 'y', 't', ' ', 'o', 'n', 'p', 'h', 'e'}

TypeError: 'set' object does not support indexing

In [30]:
b = list(b)
print(b)
print(b[1])

['l', 'y', 't', ' ', 'o', 'n', 'p', 'h', 'e']
y

In [33]:
a = set('hello world!')
b = set('hello python')
print(a | b) #합집합
print(a & b) #교집합
print(a - b) #차집합
print(a ^ b) #합집합-교집합

{'l', 'y', '!', 't', ' ', 'o', 'n', 'r', 'w', 'p', 'h', 'd', 'e'}
{'l', ' ', 'o', 'e', 'h'}
{'!', 'd', 'r', 'w'}
{'y', 't', '!', 'n', 'r', 'w', 'p', 'd'}

In [34]:
num = [0, 1, 2]
for n in num :
    print(n)
print(num)

0
1
2
[0, 1, 2]

In [35]:
num = [0, 1, 2]
for n in num :
    print(n)
    print(num)

0
[0, 1, 2]
1
[0, 1, 2]
2
[0, 1, 2]

In [39]:
for i in range(3, 9 + 1, 3) : #range(a, b+1, c): a부터 b까지, a에 c씩 더하면서 수열을 만든다.
    print(i)

3
6
9

In [45]:
box = ['boll', 'boll', 'boll', 'boll']
for i in range(3+1) :
    box[i[1]] = 'a'

TypeError: 'int' object is not subscriptable

In [46]:
box = ['boll', 'boll', 'boll', 'boll']
for i in range(3+1) :
    box[i] = 'ball'
    print(box)

['ball', 'boll', 'boll', 'boll']
['ball', 'ball', 'boll', 'boll']
['ball', 'ball', 'ball', 'boll']
['ball', 'ball', 'ball', 'ball']

In [3]:
for n in range(1, 9+1):
    res = 2*n
    print('2', 'x', n, '=', res)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [2]:
for n in range(1, 9+1):
    print('2', 'x', n, '=', 2*n)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [4]:
print(True)
print(False) #True, False는 사전에 지정된 키워드이기 때문에 따옴표를 쓰지 않고 대문자로 써서 문자형으로 나타낼 수 있다.

True
False

# 비교 연산자
'>' 크다
'<' 작다
'>=' 크거나 같다
'<=' 작거나 같다
'==' 같다
'!=' 같지 않다

In [5]:
print(2!=2)

False

In [6]:
print(2>1)

True

In [11]:
score = 77
if 80 < score <= 100:
    print('A')
elif 60 < score <= 80:
    print('B')
elif 40 < score <= 60:
    print('C')
elif 20 < score <= 40:
    print('D')
else:
    print('F')

B

In [14]:
a = [1, 2, 3, 4, 5]
for i in a:
    if i == 3:
        print('I = 3')
    else:
        print(i)

1
2
I = 3
4
5

In [18]:
a = [1, 7, 10, 5, 8, 2, 7]
count = 0
for i in a:
    if i%2 == 0:
        print(i,'은(는) 짝수')
        count = count + 1
    else:
        print(i, '은(는) 홀수')
print('짝수는 총', count, '개')

1 은(는) 홀수
7 은(는) 홀수
10 은(는) 짝수
5 은(는) 홀수
8 은(는) 짝수
2 은(는) 짝수
7 은(는) 홀수
짝수는 총 3 개

In [19]:
a = [1, 7, 10, 5, 8, 2, 7]
count = []
for i in a:
    if i%2 == 0:
        print(i,'은(는) 짝수')
        count.append(i)
    else:
        print(i, '은(는) 홀수')
print('짝수는 총', len(count), '개')

1 은(는) 홀수
7 은(는) 홀수
10 은(는) 짝수
5 은(는) 홀수
8 은(는) 짝수
2 은(는) 짝수
7 은(는) 홀수
짝수는 총 3 개

In [23]:
people= [22, 21, 17, 32, 4, 28, 19, 8]
count_adults = 0
count_students = 0
count_kids = 0

for age in people:
    if age >= 20:
        count_adults = count_adults + 1
    elif 10 <= age < 20:
        count_students = count_students + 1
    else:
        count_kids = count_kids + 1

total_price = count_adults*8000 + count_students*5000 + count_kids*2500
print('입장권의 총 가격은 %d원이다.' %total_price)
#변수가 너무 많아서 별로 좋지 않은 코드

입장권의 총 가격은 47000원이다.

In [25]:
people= [22, 21, 17, 32, 4, 28, 19, 8]
total_price = 0

for age in people:
    if age >= 20:
        total_price = total_price + 8000
    elif 10 <= age < 20:
        total_price = total_price + 5000
    else:
        total_price = total_price + 2500

print('입장권의 총 가격은 %d원이다.' %total_price)
#변수를 적게 사용한 좋은 코드

입장권의 총 가격은 47000원이다.

In [26]:
at_s = 90
te_s = 70
if at_s >= 80 or te_s >= 70:
    print('Passed')

Passed

In [29]:
turtle = ['t1', 't2', 't3', 't4', 't5']

for i in turtle[:3]:
    print(i, 'Hi!')

t1 Hi!
t2 Hi!
t3 Hi!

In [30]:
turtle = ['t1', 't2', 't3', 't4', 't5']
count = 0
while count < 3:
    print(turtle[count], 'Hi!') #turtle이란 리스트 내에서 요소를 차례대로 하나씩 바꿔나가는 역할이 [count]에 있음.
    count = count + 1

t1 Hi!
t2 Hi!
t3 Hi!

In [44]:
my_money = 39000
game = 0
while my_money != 0:
    game = game + 1
    my_money = my_money - 3000
    money_used = game * 3000
    print('현재 %d번째 게임입니다.' %game)
    print('지금까지 게임에 사용한 금액은 총 %d원 입니다.' %money_used)
print('게임이 모두 끝났습니다. 진행한 총 게임 수는 %d회 입니다.' %game)

현재 1번째 게임입니다.
지금까지 게임에 사용한 금액은 총 3000원 입니다.
현재 2번째 게임입니다.
지금까지 게임에 사용한 금액은 총 6000원 입니다.
현재 3번째 게임입니다.
지금까지 게임에 사용한 금액은 총 9000원 입니다.
현재 4번째 게임입니다.
지금까지 게임에 사용한 금액은 총 12000원 입니다.
현재 5번째 게임입니다.
지금까지 게임에 사용한 금액은 총 15000원 입니다.
현재 6번째 게임입니다.
지금까지 게임에 사용한 금액은 총 18000원 입니다.
현재 7번째 게임입니다.
지금까지 게임에 사용한 금액은 총 21000원 입니다.
현재 8번째 게임입니다.
지금까지 게임에 사용한 금액은 총 24000원 입니다.
현재 9번째 게임입니다.
지금까지 게임에 사용한 금액은 총 27000원 입니다.
현재 10번째 게임입니다.
지금까지 게임에 사용한 금액은 총 30000원 입니다.
현재 11번째 게임입니다.
지금까지 게임에 사용한 금액은 총 33000원 입니다.
현재 12번째 게임입니다.
지금까지 게임에 사용한 금액은 총 36000원 입니다.
현재 13번째 게임입니다.
지금까지 게임에 사용한 금액은 총 39000원 입니다.
게임이 모두 끝났습니다. 진행한 총 게임 수는 13회 입니다.

In [47]:
amount = 0
play_n = 0

flag = 0

while flag == 0:
    amount = amount + 3000
    play_n = play_n + 1
    print(amount)
    if amount == 39000:
        flag = 1
        print('stop')

3000
6000
9000
12000
15000
18000
21000
24000
27000
30000
33000
36000
39000
stop

In [51]:
count = 0

while count < 11:
    count = count + 1
    if count%2 == 0:
        continue #continue 이후의 명령을 무시하고 반복문의 처음으로 되돌아감.
    print(count)

1
3
5
7
9
11

In [53]:
count = 0

while count < 11:
    count = count + 1
    if count == 6:
        break #break 이후의 명령을 무시하며, 반복문에서 벗어남.
    print(count)

1
2
3
4
5

In [ ]:
prime = []
n = 1
while n <= 100:
    n = n + 1
    for i in range(2, n):
        if n%i == 0:
            break
        else:
            prime.append(n)
print(prime)

In [ ]:
prime = []

for num in range(2, 101):
    flag = 1
    for i in range(2, num):
        if num%1 == 0:
            flag = 0
    if flag == 1:
        prime.append(num)

In [ ]:
print(prime)