In [89]:
num = 1
string = 'hello'
list_a = [1, 2, 3]
tuple_a = (1, 2, 3)
dic = {'apple': '1', 'beer': 'good'}

In [90]:
print(num)
print(string)
print(list_a)
print(tuple_a)
print(dic)
len(dic)

1
hello
[1, 2, 3]
(1, 2, 3)
{'apple': '1', 'beer': 'good'}

2

In [10]:
list_a.append(1)

In [24]:
dic['apple']

'1'

In [28]:
print(14//3)

4

In [26]:
print(14%3)

2

In [29]:
len(string)

5

In [30]:
del(string[1])

TypeError: 'str' object doesn't support item deletion

In [31]:
len(tuple_a)

3

In [39]:
for i in range(2, 100 + 1):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [42]:
a = ['boll', 'boll', 'boll', 'boll', 'boll']
for l in range(0, 4 + 1):
    a[l] = 'ball'
    print(a)

['ball', 'boll', 'boll', 'boll', 'boll']
['ball', 'ball', 'boll', 'boll', 'boll']
['ball', 'ball', 'ball', 'boll', 'boll']
['ball', 'ball', 'ball', 'ball', 'boll']
['ball', 'ball', 'ball', 'ball', 'ball']

In [55]:
ggd = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for k in ggd:
    print('3 x %s' %k, '=', 3*k)
    
print('-----------------또는-----------------')
for m in range(1, 9+1):
    print('3 x %s' %m, '=', 3*m)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
-----------------또는-----------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [58]:
a = [70, 60, 55, 75, 95, 80, 80, 85, 100]
total = 0
for x in a:
    total = (total + x)
print('평균은', total/len(a))

평균은 77.77777777777777

In [65]:
score = [90, 25, 67, 45, 80]
for a in score:
    if a >= 60:
        print('%s점으로 합격입니다.' %a)

90점으로 합격입니다.
67점으로 합격입니다.
80점으로 합격입니다.

In [66]:
score = [90, 25, 67, 45, 80]
for a in score:
    if (a % 2) == 0:
        print('%s는 짝수입니다.' %a)
    else:
        print('%s는 홀수입니다.' %a)

90는 짝수입니다.
25는 홀수입니다.
67는 홀수입니다.
45는 홀수입니다.
80는 짝수입니다.

In [69]:
n = 1
while n <= 5:
    print('O'*n)
    n = n + 1

O
OO
OOO
OOOO
OOOOO

In [73]:
a = 'Life is too short, you need python'
if 'wife' in a:
    print('wife')
elif 'python' in a and 'you' not in a:
    print('python')
elif 'shirt' not in a:
    print('shirt')
elif 'need' in a:
    print('need')
else:
    print('none')

shirt

In [87]:
prime = []
for n in range(2, 100 + 1):
    flag = 1
    for i in range(2, n):
        if (n % i) == 0:
            flag = 0
    if flag == 1:
        prime.append(n)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]